#eventsPage{
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  height: 95%;
}

#sideEvents{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 600px;
  /*border: solid;*/
  overflow: scroll;
  text-align: center;
}

#sideEvents h4{
  margin: auto;

}
