body{
  width: 100%;
  /*border: solid;*/
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid;
  width: 100%;
  height: 10%;
  padding-bottom: 5px;
  background-color: rgba(235, 235, 235, 0.54);
}
#title{
  margin-top: 70px;
}
#leftHeader{
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
#middleHeader{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#rightHeader{
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.infoTittle{
  font-size: 1em;
}
header p{
  font-size: .75em;
}
#address{
  font-size: 1em;
}
#number{
  font-size: 1em;
}
.mainLinks{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
nav{
  height: 30px;
  border-bottom: solid;
  padding: 0;
  background-color: rgba(235, 235, 235, 0.54)
}
main{
  background-color: rgba(235, 235, 235, 0.54)
}
#navList{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: auto;
  /*margin-top: 5px;*/
  padding: 0;
  height: 100%;
}
#navList li{
  align-self: center;
}
#homeInfo{
  /*border: solid;*/
  height: 300px;
  display: flex;
  flex-direction: row;
}
#imageGal{
  height: 600px;
}
#homeImage{
  width: 25%;
  height: 90%;
  /*border: solid;*/
  margin: auto;
}
#homeAbout{
  width: 25%;
  height: 90%;
  /*border: solid;*/
  margin: auto;
  text-align: center;
  overflow-y: auto;
}
#gmap{
  width: 25%;
  height: 90%;
  /*border: solid;*/
  margin: auto;
}
#gmap img{
  width: 100%;
  height: 100%;
}
#imageBoarder{
  margin: auto;
  width: 95%;
  height: 70%;
  border: solid;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  padding: 0;
  margin: 0;
  background-color: rgba(235, 235, 235, 0.54)

}
#footerLink{
  width: 33%;
  margin-top: 5px;
  margin-left: 0px;
}
#footerLink img{
  width: 10%;
  margin-right: 8%;
}
#gMapLink{
  margin-left: 15px;
  align-self: center;
  -webkit-filter: grayscale(100%);
  -webkit-filter: contrast(0%);
    filter: grayscale(100%);
}
#admin{
  width: 33%;
  text-align: center;
  align-self: center;
}
#poweredBy{
  margin-right: 20px;
  width: 33%;
  text-align: right;
  align-self: center;
}

.swiper-container {
       width: 100%;
       height: 300px;
       margin-left: auto;
       margin-right: auto;
   }
   .swiper-slide {
       background-size: cover;
       background-position: center;
   }
   .gallery-top {
       height: 80%;
       width: 100%;
   }
   .gallery-thumbs {
       height: 20%;
       box-sizing: border-box;
       padding: 10px 0;
   }
   .gallery-thumbs .swiper-slide {
       width: 25%;
       height: 100%;
       opacity: 0.4;
   }
   .gallery-thumbs .swiper-slide-active {
       opacity: 1;
   }
